
# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Archivos generados
logs/*
!logs/.gitkeep
runs/

# Entornos virtuales y caché
venv/
.venv/
__pycache__/
*.py[cod]

# Logs y resultados generados
logs/*
!logs/.gitkeep
runs/

# Modelos de inteligencia artificial
models/**/*.pt
models/**/*.onnx
models/**/*.engine
models/**/*.trt

# Imágenes locales para validación
bus.jpg
